@media screen and (max-width: 1199px) {
    body {
        min-height: 100vh;
        min-height: -webkit-fill-available;
    }

    html {
        height: -webkit-fill-available;
    }

    .blockContainer {
        max-width: unset;
        min-width: unset;
        margin: 0px;
        padding: 0px 15px;
    }

    .blockContent .listProduct__item {
        width: calc(100% / 2 - 50px);
    }

    .blockContent .listProduct__item:nth-child(3n) {
        margin: 0px 20px 20px 0px;
    }

    .blockContent .listProduct__item:nth-child(2n) {
        margin: 0px 0px 20px 0px;
    }

    .blockLogo::before {
        display: none;
    }

    .blockHeader {
        top: 0;
        left: 0;
        position: fixed;
        min-height: 100vh;
        width: 50px;
        border: 0px;
        right: unset;
        background: #FFF;
        border-radius: 0px;
    }

    .blockHeader .blockHeader__wrap {
        justify-content: center;
        width: 100%;
    }

    .blockHeader .blockContainer {
        padding: 0px;
    }

    .blockHeader .blockMenu__listCate {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .blockHeader .blockMenu__listCate .blockMenu__listCate--item:first-child {
        margin: 30px 0px 0px 0px;
    }

    .blockHeader__wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .blockLogo {
        width: 100%;
        height: 40px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 10px 0px 50px 0px;
    }

    .blockMenu .item__nameCate {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0px;
    }

    .blockMenu {
        width: 100%;
    }

    .blockMenu .blockMenu__listCate {
        width: 100%;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .blockMenu .blockMenu__listCate--item {
        width: 100%;
        background: #FFF;
        border-radius: 0px;
        height: 60px;
        margin: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .blockMenu__listCate--item:last-child {
        margin: 0px;
    }

    .blockMenu .item__nameCate .item__nameCate--text {
        display: none;
    }

    .blockMenu .item__nameCate .item__nameCate--img {
        display: block;
        -webkit-filter: invert(0.7);
        filter: invert(0.7);
    }

    .blockMenu .item__nameCate.active {
        background: transparent;
    }

    .blockMenu .item__nameCate.active .item__nameCate--img {
        -webkit-filter: invert(0);
        filter: invert(0);
    }

    .blockMenu__listCate--item .item__nameCate {
        height: 100%;
        background: #FFF;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .blockMenu__listCate--item:hover .item__listChild,
    .blockMenu__listCate--item:hover .item__listChild.item__listChild.services {
        top: 0px;
        left: 55px;
        -webkit-transition: 0.4s all;
        -o-transition: 0.4s all;
        transition: 0.4s all;
    }

    .blockMenu__listCate--item:hover .item__nameCate {
        border-radius: 0px;
        position: relative;
        z-index: 3;
    }

    .blockMenu .item__listChild,
    .blockMenu .item__listChild.services {
        top: 0px;
        left: -200px;
        right: unset;
        -webkit-transition: 0.4s all;
        -o-transition: 0.4s all;
        transition: 0.4s all;
    }

    .blockMenu .item__nameCate--menuDrop {
        display: none;
    }

    ::-webkit-scrollbar {
        width: 0px !important;
    }

    .blockContent .listProduct__item {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    .blockLogo .blockLogo__wrap {
        width: 25px;
        height: 25px;
    }

    .blockLogo .blockLogo__wrap--img {
        width: 18px;
        height: 18px;
    }

    .blockContent .blockContent__wrapContent--listPage {
        padding: 20px 0px 100px 50px;
    }

    .blockContent .listPage__item .item__wrapImg--img {
        -o-object-fit: contain;
        object-fit: contain;
        height: 180px;
    }

    .blockContent .item__wrapInfo--name {
        font-size: 1.4rem;
        line-height: calc(1.4rem * 1.25);
    }

    .blockContent .listPrice__item {
        font-size: 1.1rem;
        line-height: calc(1.1rem * 1.25);
    }

    .blockMenu .item__imgChild {
        width: 20px;
        height: 20px;
    }

    .blockMenu .item__imgChild.icLogi .item__imgChild--img {
        width: 12px;
        height: 12px;
    }

    .blockMenu .item__imgChild.icRazer .item__imgChild--img {
        width: 12px;
        height: 12px;
    }

    .blockMenu .item__nameChild {
        font-size: 1.2rem;
        line-height: calc(1.2rem * 1.25);
    }

    .blockChat {
        z-index: 99;
        right: 10px;
        width: 50px;
        height: 50px;
        bottom: 50px;
    }

    .blockChat .blockChat__item {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .blockChat .blockChat__item--img {
        width: 24px;
        height: 24px;
        margin: 0.25px 0px 0px 0px;
    }
}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {
    .blockContent .listProduct__item {
        width: 100%;
        margin: 0px 0px 20px 0px;
    }

    .blockContent .listProduct__item:nth-child(3n) {
        margin: 0px 0px 20px 0px;
    }

    .blockLoadWeb .intro__text {
        font-size: 38px;
    }
}

@media screen and (max-width: 479px) {
    .blockLoadWeb .intro__text {
        font-size: 24px;
    }
}

@media screen and (max-width: 374px) {}

@media screen and (max-width: 319px) {}