/* ---------------------- FONT ---------------------- */
@font-face {
  font-family: BEVNPRO-REGULAR;
  src: url("../fonts/BeVnPro/BeVietnamPro-Regular.ttf");
}

@font-face {
  font-family: BEVNPRO-MEDIUM;
  src: url("../fonts/BeVnPro/BeVietnamPro-Medium.ttf");
}

@font-face {
  font-family: BEVNPRO-SEMIBOLD;
  src: url("../fonts/BeVnPro/BeVietnamPro-SemiBold.ttf");
}

@font-face {
  font-family: BEVNPRO-BOLD;
  src: url("../fonts/BeVnPro/BeVietnamPro-Bold.ttf");
}

@font-face {
  font-family: BEVNPRO-EXTRABOLD;
  src: url("../fonts/BeVnPro/BeVietnamPro-ExtraBold.ttf");
}

@font-face {
  font-family: BEVNPRO-BLACK;
  src: url("../fonts/BeVnPro/BeVietnamPro-Black.ttf");
}

/* ---------------------- CUSTOM COLOR */
:root {
  --blueGradient: linear-gradient(to right, #5b86e5, #36d1dc);
  --grayGradient: linear-gradient(to right, #16222a, #3a6073);
  --greenGradient: linear-gradient(to right, #000000, #0f9b0f);
  --redGradient: linear-gradient(to right, #ed213a, #93291e);
  --orangeGradient: linear-gradient(
    to right,
    rgb(235, 80, 58),
    rgb(237, 106, 84)
  );
}

/* ---------------------- CUSTOM WEB  */
html {
  font-size: 62.5%;
}

html,
body {
  font-family: BEVNPRO-REGULAR;
  background: rgba(245, 245, 247);
  scroll-behavior: smooth;
  overflow-y: overlay;
  overflow-x: hidden;
}

html.disabled,
body.disabled {
  overflow: hidden;
}

.fullWeb {
  position: relative;
}

.blockContainer {
  max-width: 1250px;
  min-width: 800px;
  margin: 0 auto;
  padding: 0px 15px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0.2);
  border: solid 3px transparent;
}
del {
  text-decoration: line-through;
  color: #ed213a;
}
/* HEADER */
.blockHeader {
  position: fixed;
  width: fit-content;
  height: 55px;
  background: rgba(255, 255, 255, 0.85);
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  top: 10px;
  left: 0px;
  right: 0px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 99;
  border-radius: 50px;
}
.search-bar {
  padding: 8px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}
.blockHeader__wrap {
  height: 100%;
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
}

/* LOGO */
.blockLogo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0px 50px 0px 0px;
  position: relative;
}

.blockLogo::before {
  width: 1.5px;
  height: 30px;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 12.5px;
  right: -27.5px;
  content: "";
}

.blockLogo .blockLogo__wrap {
  width: 35px;
  height: 35px;
  background: #000;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  z-index: 2;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
  border: 3px solid transparent;
  overflow: hidden;
}

.blockLogo .blockLogo__wrap--img {
  width: 25px;
  height: 25px;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 3px 0px 0px 0.5px;
  position: relative;
  z-index: 2;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
}

/* MENU */
.blockMenu {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}

.blockMenu .blockMenu__listCate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.blockMenu__listCate--item {
  position: relative;
  z-index: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 15px;
  cursor: pointer;
  margin: 0px 5px;
}

.blockMenu__listCate--item:last-child {
  margin: 0px 0px 0px 5px;
}

.blockMenu__listCate--item .item__nameCate {
  width: 100%;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 20px;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
  background: transparent;
  position: relative;
}

.blockMenu__listCate--item:hover .item__nameCate {
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
}

.blockMenu .item__nameCate.active {
  background: #000;
}

.blockMenu .item__nameCate.active .item__nameCate--text {
  color: #fff;
}

.blockMenu .item__nameCate.active .item__nameCate--menuDrop {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.blockMenu .item__nameCate--text {
  font-size: 1.6rem;
  font-family: BEVNPRO-BOLD;
}

.blockMenu .item__listChild {
  position: absolute;
  top: 50px;
  left: 0px;
  background: #fff;
  visibility: hidden;
  z-index: -1;
  min-width: 175px;
  height: auto;
  border-radius: 12.5px;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15),
    0px 4px 7px rgba(0, 0, 0, 0.07), 0px 12px 40px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 4px 7px rgba(0, 0, 0, 0.07),
    0px 12px 40px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 10px 5px 10px;
  -webkit-transition: 0.4s all, 0.1s opacity;
  -o-transition: 0.4s all, 0.1s opacity;
  transition: 0.4s all, 0.1s opacity;
  opacity: 0;
}

.blockMenu .item__listChild.services {
  right: -40px;
  left: unset;
}

.blockMenu__listCate--item.active .item__listChild {
  top: 55px;
  visibility: visible;
  z-index: 2;
  -webkit-transition: 0.4s all, 0.1s opacity;
  -o-transition: 0.4s all, 0.1s opacity;
  transition: 0.4s all, 0.1s opacity;
  opacity: 1;
}

.blockMenu .item__listChild--item {
  background: none;
  border: none;
  width: 100%;
  border-radius: 10px;
  padding: 10px 12.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
  cursor: pointer;
  margin: 0px 0px 5px 0px;
  position: relative;
}

.blockMenu .item__listChild--item.active {
  background: rgba(0, 0, 0, 0.08);
  pointer-events: none;
}

.blockMenu .item__listChild--item::before {
  width: 8px;
  height: 8px;
  background: rgba(216, 46, 52);
  position: absolute;
  border: 3px solid #fff;
  content: "";
  top: -4px;
  right: -4px;
  border-radius: 5px;
  -webkit-transform: scale(0) rotate(45deg);
  -ms-transform: scale(0) rotate(45deg);
  transform: scale(0) rotate(45deg);
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
}

.blockMenu .item__listChild--item.active::before {
  -webkit-transform: scale(1) rotate(45deg);
  -ms-transform: scale(1) rotate(45deg);
  transform: scale(1) rotate(45deg);
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
}

.blockMenu .item__listChild--item:hover {
  background: rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
}

.blockMenu .item__nameChild {
  font-family: BEVNPRO-BOLD;
  color: #000;
}

.blockMenu .item__imgChild {
  width: 24px;
  height: 24px;
  margin: 0px 10px 0px 0px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.blockMenu .item__imgChild.icLogi {
  background: #fff;
  -webkit-filter: invert(1);
  filter: invert(1);
}

.blockMenu .item__imgChild.icRazer {
  background: #000;
}

.blockMenu .item__imgChild.icZowie {
  background: #000;
}

.blockMenu .item__imgChild--img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.blockMenu .item__imgChild.icLogi .item__imgChild--img {
  width: 16px;
  height: 16px;
}

.blockMenu .item__imgChild.icRazer .item__imgChild--img {
  width: 16px;
  height: 16px;
  -webkit-filter: saturate(3);
  filter: saturate(3);
}

.blockMenu .item__imgChild.icZowie .item__imgChild--img {
  width: 16px;
  height: 16px;
}

.blockMenu .item__imgChild.icTrans .item__imgChild--img {
  border-radius: 0px;
  width: 16px;
  height: 16px;
}

.blockMenu .item__nameCate--img {
  width: 18px;
  height: 18px;
  display: none;
}

.blockMenu .item__nameCate--menuDrop {
  width: 8px;
  height: 8px;
  margin: 0px 0px 0px 5px;
}

/* LOADWEB */
.blockLoadWeb {
  width: 100vw;
  height: 100%;
  position: fixed;
  background: transparent;
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  left: 0px;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
  visibility: hidden;
  z-index: 100;
}

.blockLoadWeb.active {
  background: #000;
  visibility: visible;
  -webkit-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
}

.blockLoadWeb .blockLoadWeb__load {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  bottom: 60px;
  margin: auto;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  background: #000;
}

.blockLoadWeb .blockLoadWeb__load--logo {
  width: 50px;
  height: 50px;
  margin: 7.5px 0px 0px 0.5px;
}

.blockLoadWeb .blockLoadWeb__progress {
  position: absolute;
  left: calc(50% - 175px);
  bottom: 15px;
  width: 0%;
  z-index: 2;
  height: 10px;
  background: #fff;
  margin: auto;
  border-radius: 30px;
  -webkit-animation: zoomLoadWeb 2.5s 1 cubic-bezier(0.39, 0.575, 0.565, 1);
  animation: zoomLoadWeb 2.5s 1 cubic-bezier(0.39, 0.575, 0.565, 1);
}

.blockLoadWeb .blockLoadWeb__progressBar {
  left: calc(50% - 175px);
  bottom: 15px;
  width: 350px;
  z-index: 1;
  height: 10px;
  background: rgba(0, 0, 0, 0.2);
  margin: auto;
  border-radius: 30px;
  position: absolute;
}

@-webkit-keyframes zoomLoadWeb {
  from {
    width: 0%;
  }

  to {
    width: 350px;
  }
}

@keyframes zoomLoadWeb {
  from {
    width: 0%;
  }

  to {
    width: 350px;
  }
}

/* LOADING */
.blockLoading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: rgba(255, 255, 255, 0.85);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  opacity: 0;
  z-index: -1;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.blockLoading.active {
  opacity: 1;
  z-index: 999;
}

.blockLoading .blockLoading__load {
  width: 40px;
  height: 40px;
  border: 4px solid #000;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  -webkit-animation: rotateLoading 0.8s infinite
    cubic-bezier(0.39, 0.575, 0.565, 1);
  animation: rotateLoading 0.8s infinite cubic-bezier(0.39, 0.575, 0.565, 1);
  border-radius: 50%;
}

.blockLoading .blockLoading__text {
  font-family: BEVNPRO-SEMIBOLD;
  font-size: 1.4rem;
  margin: 35px 0px 0px 0px;
}

@-webkit-keyframes rotateLoading {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
  }
}

@keyframes rotateLoading {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
  }
}

/* PAGE CONTENT */
.blockContent {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  overflow: auto;
}

.blockContent.disabled {
  overflow: hidden;
}

.blockContent .blockContent__wrapContent--listPage {
  padding: 100px 0px 0px 0px;
}

.blockContent .listPage__item {
  display: none;
}

.blockContent .listPage__item.active {
  display: block;
}

.blockContent .listPage__item--title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #000;
  padding: 0px 10px;
  border-radius: 5px;
  margin: 0px 0px 20px 0px;
}

.blockContent .title__text {
  font-size: 1.4rem;
  font-family: BEVNPRO-SEMIBOLD;
  color: #fff;
}

/* PRODUCT */
.blockContent .listPage__item--listProduct {
  margin: 0px 0px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.blockContent .listProduct__item {
  width: calc(100% / 3 - 55px);
  background: #fff;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05);
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 20px;
  margin: 0px 20px 20px 0px;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.blockContent .listProduct__item:hover {
  -webkit-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.08);
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
}

.blockContent .listProduct__item:nth-child(3n) {
  margin: 0px 0px 20px 0px;
}

.blockContent .listPage__item .item__wrapImg {
  width: 100%;
  height: 200px;
  margin: 0px 0px 20px 0px;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.blockContent .listPage__item .item__wrapImg--img {
  width: 100%;
  height: 200px;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
  -o-object-fit: contain;
  object-fit: contain;
}

.blockContent .listPage__item .item__wrapImg--img3d {
  position: absolute;
  width: 100%;
  height: 200px;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  --progress-bar-color: transparent;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
}

.blockContent .listProduct__item.show3d .item__wrapImg {
  height: 375px;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
}

.blockContent .listProduct__item.show3d .item__wrapImg .item__wrapImg--img {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
}

.blockContent .listProduct__item.show3d .item__wrapImg .item__wrapImg--img3d {
  width: 100%;
  min-width: 350px;
  height: 350px;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
}

.blockContent .item__wrapInfo {
  width: 100%;
}

.blockContent .item__wrapInfo--name {
  width: 100%;
  font-family: BEVNPRO-EXTRABOLD;
  font-size: 2rem;
  text-align: center;
}

.blockContent .item__wrapInfo--listPrice {
  width: 100%;
  margin: 25px 0px 0px 0px;
  padding: 25px 0px 0px 0px;
  border-top: 1px solid #e8e8e8;
}

.blockContent .listPrice__item {
  width: 100%;
  margin: 0px 0px 12.5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 1.4rem;
  line-height: calc(1.4rem * 1.25);
  font-family: BEVNPRO-BOLD;
}

.blockContent .listPrice__item:last-child {
  margin: 0px 0px 5px 0px;
}

.blockContent .listPrice__item--price {
  font-family: BEVNPRO-EXTRABOLD;
  color: rgba(84, 159, 85);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.blockContent .item__wrapNoti {
  position: absolute;
  top: 10px;
  left: 10px;
  background: -o-linear-gradient(left, #f12711, #f5af19);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#f12711),
    to(#f5af19)
  );
  background: linear-gradient(to right, #f12711, #f5af19);
  padding: 5px 10px;
  border-radius: 20px;
}

.blockContent .item__wrapNoti--text {
  font-family: BEVNPRO-BOLD;
  font-size: 1rem;
  line-height: calc(1rem * 1.25);
  color: #fff;
}

.blockContent .listProduct__itemBlank {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.blockContent .listProduct__itemBlank--text {
  font-family: BEVNPRO-SEMIBOLD;
  color: #333;
  font-size: 1.25rem;
  line-height: calc(1.25rem * 1.25);
  text-align: center;
}

.blockContent .listProduct__itemBlank iframe {
  width: 100%;
  max-width: 300px;
  min-height: 600px;
  margin: 40px 0px;
}

.blockMenu .item__countChild {
  width: 20px;
  height: 16px;
  position: absolute;
  right: 10px;
  background: rgba(241, 191, 69);
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 1rem;
  line-height: calc(1rem * 1.5);
  font-family: BEVNPRO-BOLD;
}

.blockContent .item__view3d {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #e8e8e8;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
}

.blockContent .item__view3d--img {
  width: 24px;
  height: 24px;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
  margin: -2px 0px 0px 0px;
}

.blockContent .listProduct__item.show3d .item__view3d {
  background: #000;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
}

.blockContent .listProduct__item.show3d .item__view3d .item__view3d--img {
  -webkit-filter: invert(1);
  filter: invert(1);
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
}

.blockLoadWeb .blockLoadWeb__branding {
  position: absolute;
  bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.blockLoadWeb .branding__item {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0px 10px;
  background: #000;
}

.blockLoadWeb .branding__item.hyperx {
  background: rgba(207, 52, 59);
}

.blockLoadWeb .branding__item.steel {
  background: var(--orangeGradient);
}

.blockLoadWeb .branding__item {
  background: #000;
}

.blockLoadWeb .branding__item--img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.blockLoadWeb .branding__item.logitech .branding__item--img {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.blockLoadWeb .branding__item.razer .branding__item--img {
  width: 22px;
  height: 22px;
}

.blockLoadWeb .blockLoadWeb__intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.blockLoadWeb .intro__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.blockLoadWeb .intro__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: 0.4s all;
  background: rgba(0, 0, 0, 0.0005);
  backdrop-filter: blur(1px);
}

.blockLoadWeb .intro__text {
  color: #fff;
  width: 100%;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  text-align: center;
  font-family: BEVNPRO-BOLD;
  font-size: 60px;
}

.blockContent .item__wrapInfo--hot {
  width: fit-content;
  background: #ed213a;
  background: -webkit-linear-gradient(to right, #93291e, #ed213a);
  background: linear-gradient(to right, #93291e, #ed213a);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7.5px 15px;
  border-radius: 20px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.blockContent .hot__text {
  font-size: 1.25rem;
  line-height: calc(1.25rem * 1.25);
  color: #fff;
  font-family: BEVNPRO-BOLD;
}

.blockContent .item__wrapInfo--name.hot {
  color: #ed213a;
}

.blockContent .listPrice__item--price.hot {
  color: #ed213a;
}

/* CHAT */
.blockChat {
  position: fixed;
  right: 17.5px;
  background: #000;
  bottom: 35px;
  width: 60px;
  height: 60px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.blockChat .blockChat__item--img {
  width: 32.5px;
  height: 32.5px;
  filter: invert(1);
}

.listProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0px 150px 0px;
  max-width: 550px;
  margin: 0 auto;
}

.listProduct img {
  width: 100%;
  max-width: 400px;
  margin: 0px 0px 30px 0px;
}

.listProduct p {
  text-align: center;
  margin: 0px 0px 20px 0px;
  font-family: BEVNPRO-BLACK;
  font-size: 2rem;
  line-height: calc(2rem * 1.25);
}

.intro__video {
  width: 100%;
  max-width: 1300px;
  height: 100%;
  object-fit: cover;
}

.listPrice__note {
  background: rgba(255, 214, 38, 0.3);
  padding: 5px 10px;
  border-radius: 10px;
  margin: 20px 0px 0px 0px;
}

.listPrice__note .listPrice__note--item {
  color: #000;
  font-family: BEVNPRO-BOLD;
  font-size: 1.1rem;
  line-height: calc(1.1rem * 1.25);
  margin: 5px 0px;
}
.product-item {
  display: flex;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.product-item img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
